.grid-container {
    display: grid;

    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px; 
    
    width:100%;
    height:100%;
    justify-content: center;

    margin-top:50px;
}


.grid-item {
    position: relative;
    border: 1px solid black;
    overflow: auto;
}

.button {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: transparent;
}

.footer {
    width: 100%;
    text-align: center;
}

.text {
    position: absolute;
    margin: 0px;
    font-size: 160px;
    width: 100%;
    height: 100%;
    text-align: center;
}